<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ pageTitle }}</title>
    <meta name="description" content="{{ pageSubtitle }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{ pageTitle }}">
    <meta property="og:type" content="">
    <meta property="og:url" content="https://polygoingoff.com">
    <meta property="og:image" content="https://polygoingoff.com/images/podcastArt.jpg">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">

    <link rel="stylesheet" href="styles.css">

    <meta name="theme-color" content="#333">
  </head>
  <body>
    <h1 class="page-title">{{ pageTitle }}</h1>
    <p class="subtitle">{{ pageSubtitle }}</p>

    <hr>

    <h2 class="section-title">Episode Listing</h2>
    
  </body>
</html>
